<?xml version="1.0"?>
<model>
  <name>TVC_Real</name>
  <version>1.0</version>
  <sdf version='1.11'>model.sdf</sdf>

  <author>
   <name>Lei He</name>
   <email>598269931@qq.com</email>
  </author>

  <description>
    Full-scale 20 kg TVC rocket (real platform): cylinder body, nose cone, landing gear.
  </description>
</model>
